/* line 1, ../sass/_style.sass */
h1 {
  font-size: 1.7em;
}

/* line 4, ../sass/_style.sass */
h2 {
  font-size: 1.4em;
  line-height: 1em;
  padding-bottom: 0.2em;
  margin: 0;
  color: #364350;
  text-transform: uppercase;
}

/* line 13, ../sass/_style.sass */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #cccccc;
}

/* line 17, ../sass/_style.sass */
::-webkit-scrollbar {
  width: 10px;
  background-color: #cccccc;
}

/* line 21, ../sass/_style.sass */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2d3645;
}

/* line 1, ../sass/components/_filepicker.sass */
#filepicker-media-area {
  border: 0;
  min-height: 430px;
  width: 100%;
  overflow: hidden;
}

/* line 1, ../sass/components/_header.sass */
.row-fluid {
  padding-top: 105px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/components/_header.sass */
#header .container {
  margin: 0;
  width: auto !important;
}
/* line 10, ../sass/components/_header.sass */
#header .navbar-inner {
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 0;
  background-color: #404e5b;
  height: 70px;
}
/* line 13, ../sass/components/_header.sass */
#header .navbar-inner li > a {
  text-shadow: none;
}
/* line 17, ../sass/components/_header.sass */
#header .navbar-inner:first-child {
  background-color: #2d3645;
  height: 35px;
}
/* line 21, ../sass/components/_header.sass */
#header .navbar-inner:first-child li > a {
  color: #94b2ce;
  font-weight: normal;
}
/* line 26, ../sass/components/_header.sass */
#header .navbar-inner .borough-tabs {
  margin-top: 15px;
}
/* line 29, ../sass/components/_header.sass */
#header .navbar-inner .borough-tabs li > a {
  color: white;
  font-weight: bold;
  padding-bottom: 12px;
  padding-top: 12px;
}
/* line 35, ../sass/components/_header.sass */
#header .navbar-inner .borough-tabs li > a.active {
  background: #2d3645;
}
/* line 43, ../sass/components/_header.sass */
#header h1 {
  color: white;
  line-height: 50px;
  margin-left: 20px;
}
/* line 48, ../sass/components/_header.sass */
#header h1 span {
  font-weight: normal;
}

/* line 52, ../sass/components/_header.sass */
.borough-tabs-title {
  display: none !important;
}

/* line 56, ../sass/components/_header.sass */
.borough-tabs .nav-pills {
  margin-bottom: 0;
}
/* line 60, ../sass/components/_header.sass */
.borough-tabs .nav-pills li a:active, .borough-tabs .nav-pills li a.active {
  background-color: #364350;
  border-color: #364350;
  color: white;
}

/* line 1, ../sass/components/_map.sass */
.leaflet-top.leaflet-center {
  width: 100%;
  margin-left: 50px;
}
/* line 5, ../sass/components/_map.sass */
.leaflet-top.leaflet-center .leaflet-control-geosearch {
  background: none;
  float: left;
  width: auto;
  padding: 0;
  margin-right: 1em;
  width: 350px;
}
/* line 13, ../sass/components/_map.sass */
.leaflet-top.leaflet-center .leaflet-control-geosearch input {
  background: white;
  width: 290px;
  float: left;
  margin-right: 10px;
}
/* line 19, ../sass/components/_map.sass */
.leaflet-top.leaflet-center .leaflet-control-geosearch #leaflet-control-geosearch-submit i {
  margin: 0;
}
/* line 22, ../sass/components/_map.sass */
.leaflet-top.leaflet-center .leaflet-control-locate {
  clear: none;
}

/* line 26, ../sass/components/_map.sass */
.leaflet-container {
  font-family: "open-sans", sans-serif;
  font-size: 14px;
}
/* line 30, ../sass/components/_map.sass */
.leaflet-container .leaflet-popup-content-wrapper {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
/* line 34, ../sass/components/_map.sass */
.leaflet-container .leaflet-popup-content-wrapper .fields .title {
  width: 4.5em;
}
/* line 37, ../sass/components/_map.sass */
.leaflet-container .leaflet-popup-content-wrapper .fields .value {
  margin-left: 5.5em;
}

/* line 40, ../sass/components/_map.sass */
.deblasio-logo {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

/* line 46, ../sass/components/_map.sass */
#map {
  z-index: 0;
}
/* line 49, ../sass/components/_map.sass */
#map #geocode {
  z-index: 10;
}
/* line 52, ../sass/components/_map.sass */
#map .circle-marker {
  background-color: #ff7800;
  border-color: black;
  border-radius: 100%;
  border-style: solid;
  border-width: 1px;
  width: 5px;
  height: 5px;
}
/* line 61, ../sass/components/_map.sass */
#map .leaflet-popup-content {
  width: 360px !important;
}
/* line 64, ../sass/components/_map.sass */
#map .leaflet-popup-content,
#map .popupWrapper h2 {
  margin: 0;
}
/* line 68, ../sass/components/_map.sass */
#map .popupWrapper {
  font-size: 1.2em;
}
/* line 71, ../sass/components/_map.sass */
#map .popupWrapper .item {
  border-bottom: 2px solid #d7d7d7;
  padding: 15px 1em 0;
}
/* line 75, ../sass/components/_map.sass */
#map .popupWrapper .dataItem {
  height: 45px;
}
/* line 78, ../sass/components/_map.sass */
#map .popupWrapper .addressWrapper {
  background-color: #ebebeb;
  color: #364350;
  padding-bottom: 15px;
}
/* line 83, ../sass/components/_map.sass */
#map .popupWrapper .addressWrapper .ranking {
  font-size: 3em;
  line-height: 0.8em;
  color: #a5a5a5;
  font-weight: bold;
  padding-right: 10px;
}
/* line 90, ../sass/components/_map.sass */
#map .popupWrapper .addressWrapper .ranking span {
  font-size: 0.5em;
}
/* line 93, ../sass/components/_map.sass */
#map .popupWrapper .addressWrapper #showData {
  color: white;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #364350;
  background-image: -moz-linear-gradient(bottom, #2b353f, #364350);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#364350), to(#2b353f));
  background-image: -webkit-linear-gradient(bottom, #2b353f, #364350);
  background-image: -o-linear-gradient(bottom, #2b353f, #364350);
  background-image: linear-gradient(to bottom, #2b353f, #364350);
  background-repeat: repeat-x;
  border-color: #2b353f #2b353f #364350;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
/* line 108, ../sass/components/_map.sass */
#map .popupWrapper .imageWrapper {
  width: 150px;
  height: 120px;
}
/* line 112, ../sass/components/_map.sass */
#map .popupWrapper .daysWrapper {
  border-bottom: none;
}
/* line 115, ../sass/components/_map.sass */
#map .popupWrapper .dataTitle {
  color: #a5a5a5;
  float: left;
  width: 120px;
  display: block;
  padding-left: 10px;
}
/* line 122, ../sass/components/_map.sass */
#map .popupWrapper .dataValue {
  font-weight: bold;
  font-size: 2em;
  line-height: 1em;
}
/* line 127, ../sass/components/_map.sass */
#map .popupWrapper .dataValue.highlighted {
  color: #fe7e38;
}

@media screen and (min-width: 620px) {
  /* line 2, ../sass/components/_responsive-desktop.sass */
  .no-desktop {
    display: none;
  }

  /* line 5, ../sass/components/_responsive-desktop.sass */
  html {
    font-family: "desktop";
  }
  /* line 8, ../sass/components/_responsive-desktop.sass */
  html body:after {
    content: "desktop";
    display: none;
  }

  /* line 12, ../sass/components/_responsive-desktop.sass */
  html,
  body,
  .row-fluid {
    height: 100%;
    overflow: hidden;
  }

  /* line 21, ../sass/components/_responsive-desktop.sass */
  #header .navbar-inner {
    height: 70px;
  }
  /* line 23, ../sass/components/_responsive-desktop.sass */
  #header .navbar-inner:first-child {
    height: 35px;
  }

  /* line 29, ../sass/components/_responsive-desktop.sass */
  .main-content {
    position: fixed;
    height: 100%;
    right: 0;
    left: 0;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    overflow: hidden;
  }
  /* line 37, ../sass/components/_responsive-desktop.sass */
  .main-content #map {
    height: 100%;
  }

  /* line 40, ../sass/components/_responsive-desktop.sass */
  .left-sidebar #results,
  .right-sidebar {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* line 46, ../sass/components/_responsive-desktop.sass */
  .left-sidebar {
    width: 0;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    position: absolute;
    left: -320px;
    width: 320px;
    background-color: white;
    border-right: 2px solid #cccccc;
    height: 100%;
  }

  /* line 56, ../sass/components/_responsive-desktop.sass */
  .right-sidebar {
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
    right: -260px;
    width: 260px;
    position: fixed;
    background-color: white;
  }

  /* line 66, ../sass/components/_responsive-desktop.sass */
  .left-sidebar-active .main-content {
    left: 320px;
  }
  /* line 73, ../sass/components/_responsive-desktop.sass */
  .left-sidebar-active .left-sidebar {
    left: 0;
  }

  /* line 79, ../sass/components/_responsive-desktop.sass */
  .right-sidebar-active .main-content {
    right: 260px;
  }
  /* line 82, ../sass/components/_responsive-desktop.sass */
  .right-sidebar-active .main-content #map {
    border-right: 2px solid #cccccc;
  }
  /* line 85, ../sass/components/_responsive-desktop.sass */
  .right-sidebar-active .right-sidebar {
    right: 0;
  }
}
@media screen and (max-width: 620px) {
  /* line 3, ../sass/components/_responsive-mobile.sass */
  .no-mobile {
    display: none;
  }

  /* line 6, ../sass/components/_responsive-mobile.sass */
  html {
    font-family: "mobile";
    max-width: 100%;
    overflow-x: hidden;
    width: 100%;
  }
  /* line 12, ../sass/components/_responsive-mobile.sass */
  html body:after {
    content: "mobile";
    display: none;
  }

  /* line 16, ../sass/components/_responsive-mobile.sass */
  button {
    cursor: pointer !important;
  }

  /* line 19, ../sass/components/_responsive-mobile.sass */
  html,
  body,
  .main-content {
    height: 100%;
    padding: 0;
  }

  /* line 25, ../sass/components/_responsive-mobile.sass */
  .row-fluid {
    position: relative;
    width: 100%;
    height: 100%;
  }

  /* line 31, ../sass/components/_responsive-mobile.sass */
  .navbar .nav,
  #showFilters span {
    display: none;
  }

  /* line 35, ../sass/components/_responsive-mobile.sass */
  .navbar {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  /* line 40, ../sass/components/_responsive-mobile.sass */
  .navbar .container-fluid {
    padding: 0;
  }
  /* line 43, ../sass/components/_responsive-mobile.sass */
  .navbar .brand img {
    max-width: 140px;
    margin-top: 4px;
    height: auto;
    margin-left: 10px;
  }
  /* line 49, ../sass/components/_responsive-mobile.sass */
  .navbar .links {
    margin-right: 10px;
  }
  /* line 52, ../sass/components/_responsive-mobile.sass */
  .navbar .links i {
    margin-right: 0;
  }
  /* line 55, ../sass/components/_responsive-mobile.sass */
  .navbar .links #showLocate {
    margin-right: 15px;
  }

  /* line 59, ../sass/components/_responsive-mobile.sass */
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"],
  .uneditable-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 100%;
    min-height: 30px;
    width: 100%;
  }

  /* line 81, ../sass/components/_responsive-mobile.sass */
  .main-content {
    top: 105px;
    position: absolute;
    width: 100%;
    left: 0;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
  }
  /* line 88, ../sass/components/_responsive-mobile.sass */
  .main-content #map {
    width: 100%;
    height: 100%;
  }
  /* line 92, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-center {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    padding-left: 60px;
    padding-right: 10px;
    width: 100%;
    display: none;
  }
  /* line 100, ../sass/components/_responsive-mobile.sass */
  .locate-active .main-content .leaflet-top.leaflet-center {
    display: block;
  }
  /* line 103, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-center .leaflet-control-geosearch {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin-right: 0;
    padding-right: 48px;
    width: 100%;
  }
  /* line 110, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-center .leaflet-control-geosearch input {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
    float: left;
  }
  /* line 117, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-center #leaflet-control-geosearch-submit {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* line 122, ../sass/components/_responsive-mobile.sass */
  .main-content .leaflet-top.leaflet-center .leaflet-control-locate {
    width: 100%;
  }

  /* line 126, ../sass/components/_responsive-mobile.sass */
  .left-sidebar {
    position: relative;
    top: 100%;
    z-index: 100;
    background-color: white;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
  }
  /* line 133, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results {
    padding-bottom: 4em;
  }
  /* line 136, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results .pagination {
    margin: 0.5em 0 0 0;
  }
  /* line 140, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results .pagination:first-child + .item {
    padding-top: 0;
  }
  /* line 143, ../sass/components/_responsive-mobile.sass */
  .left-sidebar #results .pagination:first-child ul {
    display: none;
  }

  /* line 146, ../sass/components/_responsive-mobile.sass */
  .right-sidebar {
    left: -280px;
    position: absolute;
    width: 280px;
    -webkit-transition: all, 1s;
    -moz-transition: all, 1s;
    -o-transition: all, 1s;
    transition: all, 1s;
  }

  /* line 154, ../sass/components/_responsive-mobile.sass */
  .left-sidebar-active:not(.loading) .left-sidebar {
    top: 70%;
  }
  /* line 157, ../sass/components/_responsive-mobile.sass */
  .left-sidebar-active:not(.loading) .main-content {
    height: 70%;
  }

  /* line 164, ../sass/components/_responsive-mobile.sass */
  .right-sidebar-active .main-content,
  .right-sidebar-active .left-sidebar {
    left: 280px;
  }
  /* line 168, ../sass/components/_responsive-mobile.sass */
  .right-sidebar-active .right-sidebar {
    left: 0;
  }

  /* line 174, ../sass/components/_responsive-mobile.sass */
  .overlay-active .main-content {
    height: auto;
  }
  /* line 177, ../sass/components/_responsive-mobile.sass */
  .overlay-active #map {
    display: none;
  }
  /* line 180, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about {
    padding: 1em 2em;
    height: auto;
  }
  /* line 184, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about h2 {
    font-size: 24px;
  }
  /* line 187, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .summary .logos {
    margin: 0 -1em;
  }
  /* line 190, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .summary .logos li {
    margin-right: 5px;
    width: 45%;
  }
  /* line 95, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a {
    display: block;
    height: 70px;
    text-indent: -1000em;
    overflow: hidden;
    background: url(../images/sponsors.png) 0 0 no-repeat;
    background-size: 412.3px auto;
  }
  /* line 103, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.cchi {
    width: 50.4px;
  }
  /* line 106, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.caring {
    width: 91px;
    background-position: -70px 0;
  }
  /* line 110, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.piton {
    width: 98px;
    background-position: -175px 0;
  }
  /* line 114, ../sass/_mixins.sass */
  .overlay-active #about .summary .logos li a.connect {
    width: 126.0px;
    background-position: -287px 0;
  }
  /* line 195, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .summary .logos li a {
    margin: 0 auto;
  }
  /* line 198, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .supported {
    text-align: center;
    font-style: italic;
    padding-top: 2em;
  }
  /* line 203, ../sass/components/_responsive-mobile.sass */
  .overlay-active #about .leaflet-top.leaflet-center {
    margin-left: 0;
    top: 9em;
    display: block;
    position: absolute;
    width: auto;
    left: 2em;
    right: 2em;
    padding-left: 0;
    padding-right: 0;
  }
  /* line 214, ../sass/components/_responsive-mobile.sass */
  .overlay-active #showLocate,
  .overlay-active #mapOverlay,
  .overlay-active .left-sidebar {
    display: none;
  }
}
@media only screen and (device-width: 320px) and (device-height: 480px) {
  /* line 227, ../sass/components/_responsive-mobile.sass */
  .left-sidebar-active .left-sidebar {
    position: static !important;
  }
}
/* line 1, ../sass/components/_results.sass */
#results {
  padding: 5px;
}
/* line 4, ../sass/components/_results.sass */
#results .pagination {
  text-align: center;
  margin: 0;
}
/* line 8, ../sass/components/_results.sass */
#results .pagination .result-summary {
  margin-bottom: 0.5em;
}
/* line 11, ../sass/components/_results.sass */
#results .result-summary {
  color: #999999;
  font-size: 0.9em;
  font-style: italic;
}
/* line 17, ../sass/components/_results.sass */
#results .item {
  padding: 1em 5px;
  margin-top: 10px;
  position: relative;
}
/* line 23, ../sass/components/_results.sass */
#results .item h3 a {
  text-decoration: none;
}
/* line 26, ../sass/components/_results.sass */
#results .item h3 span {
  color: #cccccc;
  font-family: "open-sans", sans-serif;
  font-size: 0.8em;
}
/* line 31, ../sass/components/_results.sass */
#results .item .not-primary {
  display: none;
}
/* line 34, ../sass/components/_results.sass */
#results .item .static-marker {
  position: absolute;
  left: inherit;
  top: inherit;
}
/* line 39, ../sass/components/_results.sass */
#results .item button.close {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 44, ../sass/components/_results.sass */
#results .item .summary {
  margin-left: 40px;
}
/* line 47, ../sass/components/_results.sass */
#results .item .summary .btn-directions {
  margin: 1em 0;
}
/* line 50, ../sass/components/_results.sass */
#results .item.active {
  background: #94b2ce;
}
/* line 53, ../sass/components/_results.sass */
#results .item.active .not-primary {
  display: block;
}

/* line 57, ../sass/components/_results.sass */
.fields .title {
  width: 6.5em;
  text-align: right;
  position: absolute;
  font-weight: bold;
}
/* line 63, ../sass/components/_results.sass */
.fields .value {
  margin-left: 7em;
  display: block;
  margin-bottom: 0.2em;
}

/* No files to import found in includes/* */
