$serif: adelle, serif
$sans-serif: "open-sans", sans-serif

$black: #333333
$white: #fff

// top of header
$blue-dark: #2d3645
// header
$blue: #404e5b
// faded blue
$blue-light: #94b2ce
// links
$blue-bright: #067fc6


$btn-blue: #387CC0
$btn-blue-shadow: #1F4066

$grey-faint: #fefefe
$grey-light: #e5e9ed
$grey: #cccccc
$grey-dark: #424549

$link: $blue-bright
$link-hover: darken($blue-bright, 10%)

$font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

$orange: #F59630
$red: #E02D33

$trans-time: 1s

// grid settings
$gut: 10px
$gut-out: 20px

// Marker colors
$marker-orange: #F59630
$marker-green: #72AE26
$marker-purple: #D252B9
$marker-red: #D53E2A
$marker-green: #72AF26
$marker-blue: #37A8DA
$marker-darkblue: #0066A3
$marker-cadetblue: #426877


$topnav-height: 105px
$left-sidebar-width: 320px
$right-sidebar-width: 800px
$border-width: 2px


// Sponsor logos
$sponsor-logos-width: 589px
$sponsor-logos-mobile-scale: .7
