<template name="storySubmit">
  <div class="well">
    <p>You are submitting a story for {{ street_address }}</p>
  </div>
  <form class="main">
    <ul class="nav nav-tabs" id="storyTab">
      <li class="active"><a href="#storyMain" data-toggle="tab">Main</a></li>
      <li><a href="#storyMedia" data-toggle="tab">Media</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="storyMain">
        <div class="control-group">
          <label class="control-label" for="email">Email</label>
          <div class="controls">
            <input name="email" type="email" value="" placeholder="Email"/>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="message">Message</label>
          <div class="controls">
            <textarea name="message" type="text" value=""/>
          </div>
        </div> 

        <div class="control-group submit">
          <div class="controls">
            <input type="submit" value="Submit" class="btn btn-primary"/>
          </div>
        </div>
      </div>

      <div class="tab-pane" id="storyMedia">
        <h4>Media</h4>
        <div class="well">
          {{#if media}}
            {{#each this.media}}
              <li>yup</li>
            {{/each}}
          {{else}}
            <p>No media added yet, please use the tool below.</p>
          {{/if}}
        </div>
        {{> filepicker this}}
      </div>
    </div>
  </form>
</template>
