<template name="landlords">
  <div class="landlords">
    <div class="hero-unit">
      <h1>The 100 Worst Landlords</h1>
      <h3>In New York City</h3>
      <!--<p>Descriptive text goes here</p>-->
    </div>
    <div class="landlord-carousel-wrap">
    	<div id="landlord-carousel" class="rs-carousel">
      <ul class="thumbnails">
        {{#each data}}
          {{>landlord}}
        {{/each}}
      </ul>
     </div>
   </div>
  </div>
</template>

<template name="landlord">
  <li class="landlord">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="" width="300" height="200">
      <div class="headshot"><h1 class="rank">{{rank}}</div></h1>
      <h3>{{org}}</h3>
      {{#if officer}}<h5>{{officer}}, Head Officer</h5>{{/if}}
      <p>{{num}} infractions in {{num_bldgs}} {{building_text}} ({{units}} units)</p>
    </div>
  </li>
</template>
