
<template name="landlords">

  {{#if show}}
    <div class="landlords">
      {{#if hero}}
        <div class="hero-unit">
          <h1>The 100 Worst Landlords</h1>
          <h3>In New York City</h3>
          <!--<p>Descriptive text goes here</p>-->
        </div>
      {{/if}}

      <div class="landlord-carousel-wrap">
        <div id="landlord-carousel" class="rs-carousel">
        <ul class="thumbnails">
          {{#each data}}
            {{>landlord}}
          {{/each}}
        </ul>
      </div>
    </div>
  {{/if}}


</template>

<template name="landlord">
  <li class="landlord" id="landlord-{{_id}}">
    <div class="thumbnail">
      <div class="headshot"><img src="/images/landlords/landlord-{{rank}}.jpg" alt="Google StreetView Image @copy Google" width="300" height="200"><h1 class="rank">{{rank}}</div></h1>
      <h2>{{org}}</h2>
      <h5>{{#if officer}}<h5>{{officer}}, Head Officer</h5>{{/if}}</h5>
      <div class="box-wrapper">
        <div class="box box-red dataItem"><span class="dataValue highlighted">{{num}}</span><span class="dataTitle">infractions</span></div>
        <div class="box box-orange dataItem"><span class="dataValue highlighted">{{units}}</span><span class="dataTitle">units in {{num_bldgs}} {{building_text}}</span></div>
      </div>
    </div>
  </li>
</template>


<template name="landlordProfile">
  <div class="landlord-profile" id="landlord-{{_id}}">
    <img src="http://maps.googleapis.com/maps/api/streetview?size=310x200&location={{bldg_address}}&sensor=false" height="200" width="310" alt="Google StreetView Image @copy Google" />
    <h2>{{org}}</h2>
    <h5>{{#if officer}}<h5>{{officer}}, Head Officer</h5>{{/if}}</h5>
    <div class="box box-red dataItem"><span class="dataValue highlighted">{{num}}</span><span class="dataTitle">infractions</span></div>
    <div class="box box-orange dataItem"><span class="dataValue highlighted">{{units}}</span><span class="dataTitle">units in {{num_bldgs}} {{building_text}}</span></div>
    <h2>Buildings:</h2>
  </div>
</template>