<head>
  <title>NYC's Worst Landlords Watchlist</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>

  <div id="header" class="navbar navbar-fixed-top">
    {{>header}}
  </div>

  <div class="row-fluid">

    {{renderPage}}

    <div class="main-content" id="main">
      {{>map}}
    </div>

    <div class="right-sidebar">
      <div class="" id="filters">
      </div>
    </div>
    

  </div>
  {{> bootstrapPop }}

</body>

<template name="header">
  <div class="navbar-inner">
    <div class="container">
      <!--<div class="nav-collapse collapse">-->
      <ul class="outside-links nav nav-pills">
        <!--<li><a href="/landlord-watchlist" title="">Home</a></li>-->
        <li><a href="http://advocate.nyc.gov/landlord-watchlist/tenant-rights" title="">Tenants' Rights</a></li>
        <li><a href="http://advocate.nyc.gov/landlord-watchlist/landlord-resources" title="">Landlord Resources</a></li>
      </ul>
      <ul class="outside-links nav nav-pills pull-right">
        <li><a href="http://advocate.nyc.gov/landlord-watchlist/criteria" title="">Criteria &amp; Submissions</a></li>
        <li><a href="http://advocate.nyc.gov/buildingsinprogress" title="">Removed Bldgs</a></li>
        <li><a href="http://advocate.nyc.gov/landlord-watchlist/rehab-list" title="">In Rehab</a></li>
        <li><a href="http://advocate.nyc.gov/landlord-watchlist/spanish" title="">En español</a></li>
        <li><a href="http://advocate.nyc.gov/landlord-watchlist/chinese" title=""> 中文</a></li>
      </ul>
    </div>
  </div>
  <h1 class="pull-left"><a href="/"><!--<img src="images/logo.png" width="325" height="60" alt="NYCHA Watchlist - Tracking repairs in New York City public housing" >--><span>NYC's</span> Worst Landlords Watchlist</h1></a>
  {{>boroughs}}

  <!--<button class="btn" id="show-menu"><span class="icon-reorder"></span></button>-->
</template>









<template name="boroughs">
  <div class="navbar-inner">
    <div class="container">
      <div class="borough-tabs-title brand">View buildings by borough</div>
      <ul class="borough-tabs nav nav-pills pull-right" id="borough-tabs">
      {{#each boroughs}}
        {{>borough}}
      {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="borough">
  <li><a href="#{{this.link}}" class="{{active}}">{{this.label}}</a></li>
</template>


<template name="bootstrapPop">
  {{#if isAvailable}}
    {{#with getArgs}}
      <div class="modal fade" id="{{ modalType }}-modal-{{ this.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{ title }}</h4>
            </div>
            <div class="modal-body">
            </div>
            {{#if this.footer }}
            <div class="modal-footer">
              <button type="button" class="btn btn-default close-pop" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary submit">{{ submitText }}</button>
            </div>
            {{/if}}
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    {{/with}}
  {{else}}
    <div class="modal fade"></div>
  {{/if}}
</template>




  