<template name="map">
  {{#constant}}
    <div id="map" class="map"></div>
  {{/constant}}
</template>

<template name="results">
  <div class="left-sidebar">
    <div id="results">
      <h2 class="title">{{title}}</h2>
      {{>pager}}
      <div class="items-wrapper">
        {{#each data}}
          {{>buildingListItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>


<template name="popup">
  <div class="popupWrapper">
    <div class="item addressWrapper">
      <div class="header">
        <div class="box imageWrapper">
          <img src="http://maps.googleapis.com/maps/api/streetview?size=150x122&location={{location}}&sensor=false" height="122" width="150" alt="Google StreetView Image @copy Google" />
        </div>
        <div class="box total dataItem"><span class="dataValue highlighted">{{num}}</span><span class="dataTitle">Total Violations:</span></div>
        <div class="box since dataItem"><span class="dataValue highlighted"><i class="icon-arrow-up"></i>123</span><span class="dataTitle">Since 4/5/2011</span></div>
      </div>
      <div class="main">
        <h2>{{street_address}}, <span>{{borough}}</span></h2>
        <div>{{org}}</div>
        {{#if officer}}<div class="officer">{{officer}}, Head Officer</div>{{/if}}
        <button class="btn btn-small btn-primary pull-right" id="showData">See Details</button>
      </div>
    </div>
  </div>
</template>


<template name="pager">
  <div class="pagination" id="">
    <div class="result-summary">Showing {{start}} - {{end}}<!-- of {{total}} buildings.--></div>
    <ul>
      {{#each pages}}
        {{>pagerPage}}
      {{/each}}
    </ul>
  </div>
</template>

<template name="pagerPage">
  <li><a href="#" rel="{{value}}" class="{{class}}">{{{label}}}</a></li>
</template>
