<template name="map">
  {{#constant}}
    <div id="map" class="map"></div>
  {{/constant}}
</template>


<template name="results">
  <div id="results">
    {{>pager}}
    {{#each data}}
      {{>buildingListItem}}
    {{/each}}
  </div>
</template>


<template name="popup">
  <div class="popupWrapper">
    <div class="item addressWrapper">
      <div class="header">
        <div class="box imageWrapper">
          <img src="http://maps.googleapis.com/maps/api/streetview?size=150x122&location={{location}}&sensor=false" height="122" width="150" alt="Google StreetView Image @copy Google" />
        </div>
        <div class="box ranking"><span>#</span>{{rank}}</div>
        <div class="box item dataItem"><span class="dataTitle">Total Violations:</span> <span class="dataValue highlighted">{{num}}</span></div>
      </div>
      <div class="main">
        <h2>{{street_address}}, <span>{{borough}}</span></h2>
        <div>{{org}}</div>
        <div>{{#if officer}}{{officer}}, Head Officer{{/if}}</div>
        <button class="btn btn-small btn-primary pull-right" id="showData">See Details</button>
      </div>
    </div>
  </div>
</template>


<template name="pager">
  <div class="pagination" id="">
    <div class="result-summary">Showing 0 - 25 of 726 clinics.</div>
    <ul>
      <li class="active"><a href="#" rel="0">1</a></li>
      <li class=""><a href="#" rel="25">2</a></li>
    </ul>
  </div>
</template>


