<template name="filepicker">
  <iframe id="filepicker-media-area"></iframe>
  <!--<div id="exampleDropPane">Drag Files Here</div>
  <p>OR, Select File to Upload</p>
  <input type="filepicker" id="attachment" />
   <input type="filepicker"
        id="fpUpload"
        data-fp-button-class="btn filepicker-upload"
        data-fp-button-text="Add image"
        data-fp-mimetypes="image/*"
        data-fp-container="modal"
        data-fp-maxsize="5000000"
        data-fp-services="COMPUTER,IMAGE_SEARCH,URL,DROPBOX,GITHUB,GOOGLE_DRIVE,GMAIL">-->
</template>
